<div class="alert alert-warning text-center p-5 h2" *ngIf="cart.length==0" >
  Bạn chưa chọn sản phẩm nào
</div>
 <!-- Đơn hàng -->
        <div id="cart" class="row">
          <div class="col-12" style="text-align:center; margin-top:20px;">
            <span class="text-title-cart" style="color: white;">Giỏ hàng của bạn</span>
            <hr style="width:100%">
            </div>
            <table style="margin: 0 auto; margin-top: 20px;" id="addCart" *ngIf="cart.length>0">
              <tr>
                <th style="color: white;">Sản phẩm</th>
                <th style="color: white;"></th>
                <th style="color: white;">Số lượng</th>
                <th style="color: white;">Giá</th>
                <th style="color: white;">Tạm tính</th>
              </tr>
              <tr *ngFor="let item of cart,let i = index" >
                <td><img style="width:100px;" src="{{item.image}}" alt=""></td>
                <td>
                  <div class="name-cart row" style="color: white"><span>{{item.name}}</span></div>
                  <div class="cart-remove row"><a href="" (click)="removeItem(i)">Xóa</a></div>
                </td>
                <td><div class="flex">
                  <span style="margin-right: 10px;">Quantity:</span>
                  <div
                    class="flex items-center gap-3 justify-center text-2xl cursor-pointer"
                  >
                    <span (click)="decrease(i)">-</span>
                    <p class="text-sm">{{ " " }}{{ item.quantity }}</p>
                    <span (click)="increase(i)">+</span>
                  </div>
                </div></td>
                
                <td>{{item.price|vndFormat}}</td>
                <td>{{item.price*item.quantity|vndFormat}}</td>
               </tr>
              <tfoot>
                <th class="totalMoney"></th>
                <th colspan="3" style="color: white;">Tổng thành tiền : {{ totalCart|vndFormat}}</th>
                <th><div class="cart-remove row"><a href="" (click)="clearCart()">Xóa hết</a></div></th>
                <th><div class="cart-remove row"><a routerLink="/thanhtoan">Thanh toán</a></div></th>
            </tfoot>
            </table >